body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}
.container{
    margin-bottom: 100px;
}
/*** Slider section start ***/
.custom_carousel{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
    padding: 10px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
/*** Slider section end ***/
/*** Categories section start ***/
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 40%;
}
/*** Categories section end ***/
/*** Shoes section start ***/
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
h3{
    font-weight: 700;
}
/*** Shoes section end ***/
/*** Backpack section start ***/
.card-footer{
    background-color: white;
    border-top: none;
}
/*** Backpack section end ***/
/*** Subscribe section start ***/
#contact{
    background-color: #fceae8;
    height: 300px;
}
#contact h6{
    color: gray;
}
/*** Subscribe section end ***/
/*** footer section start ***/
footer{
    text-align: center;
}
/*** footer section end ***/